header nav ul li{
    flex: 0 0 100px;
    background-color: black;
    color: white;
    margin: 0px 4px;
    padding: 3px;
    text-align: center;
}
header nav ul{
    display: flex;
    list-style: none;
}
aside{
    background-color: gray;
}

footer{
padding: 0.25rem;
color: white;
background-color: brown;
}
body{
    margin: auto;
}